#overview {
    display: none;
    width: 500px;
}

#overview .slide {
    margin-bottom: 1em;
    border: 2px solid black;
}

#overview .slide:hover {
    background-color: yellow;
}

body {
/*    background-color: lightblue; */
}

.header > hr {
    border: 1px solid black;
}

.to-show:not(.showed) {
    opacity: 0.5;
}

.nav {
    position: absolute;
    right: 200px;
    bottom: 50px;
}
